body {
	padding-top: 60px;
}

.sidebar {
	overflow-x: hidden;
	overflow-y: auto;
	top: 0;
	left: 0;
	bottom: 0;
	background: white;
	position: fixed;
}

.cormo-sidenav {
	margin-top: 70px;
	margin-bottom: 20px;
}

.cormo-sidenav li.cormo-class-property > a {
	padding-left: 30px;
	font-size: small;
}

.sourcecode {
	display: none;
}

.options {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.cormo-class-property .label {
	margin-left: 5px;
	font-size: 0.7em;
}

.label-optional {
	background-color: #3a87ad;
}

.label-static {
	background-color: #f89406;
}

.label-abstract {
	background-color: #389486;
}

.label-override {
	background-color: #389486;
}

.label-async {
	background-color: #8DAF28;
}

.label-property {
	background-color: #c09853;
}

.label-addable {
	background-color: #468847;
}

.label-excludable {
	background-color: #468847;
}

.label-private {
	background-color: #333333;
}

.missing-link {
	color: red;
	background-color: gray;
}

section {
	padding-top: 10px;
}

section:first-child {
	padding-top: 0px;
}

.extends {
	font-size: 50%;
}

.uses {
	font-size: 50%;
}

h1.class_title {
	font-style: italic;
}

h2.class_method {
	border-left: 10px solid #d9edf7;
	padding-left: 10px;
}

ol.linenums {
	margin-left: 60px;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
	list-style-type: decimal;
}

.github-ribbon {
	position: fixed;
	top: 40px;
	right: 0;
	border: 0;
}
