- var current_namespace = ''
ul.nav.nav-list.cormo-sidenav
  each item in result.classes
    if current_namespace!==item.namespace
      - current_namespace = item.namespace
      li.nav-header= current_namespace.replace(/\.$/, '')
    - var display_name = item.ctx.name.substr(current_namespace.length)
    if item.ctx.name===name
      li.active
        a(href='#'+klass.html_id)= display_name
      each property in properties
        li.cormo-class-property
          a(href='#'+property.html_id)= property.ctx.name
            if property.static
              span.label.label-static static
    else
      li
        a(href=item.filename+'.html')= display_name
