if param.types && param.types.length && param.types.join('')
  span
    | {
    each type, i in param.types
      != type
      if type.indexOf('Function')!=-1
        - var funcparams = param.params.map(function (p) { return p.name })
        if funcparams.length > 0
          | (#{funcparams.join(', ')})
      if i+1 < param.types.length
        | , 
    | } 
code= param.name
span
  | 
  != param.description
if param.optional
  span.label.label-optional optional
