if param.types && param.types.length && param.types.join('')
  span
    | {
    each type, i in param.types
      != type
      if type.indexOf('Function')!=-1
        | (
        if param.params
          - var funcparams = param.params.map(function (p) { return p.name })
          | #{funcparams.join(', ')}
        | )
      if i+1 < param.types.length
        | , 
    | } 
code= param.name
span
  | 
  != param.description
if param.optional
  span.label.label-optional optional
if param.addable
  span.label.label-addable addable
if param.excludable
  span.label.label-excludable excludable
