div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      ul.nav
        li(class=(type=='home'?'active':''))
          a(href='index.html') Home
        if result.modules.length > 0
          li(class=(type=='modules'?'active':''))
            a(href=result.modules[0].filename+'.html') Modules
        if result.classes.length > 0
          li(class=(type=='classes'?'active':''))
            a(href=result.classes[0].filename+'.html') Classes
        if result.pages.length > 0
          li(class=(type=='pages'?'active':''))
            a(href='pages.html') Pages
        if result.restapis.length > 0
          li(class=(type=='restapis'?'active':''))
            a(href='restapis.html') REST APIs
      div.options
        label(class='checkbox')
          input#options-private(type='checkbox')
          |  Private 
