div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      ui.nav
        li(class=(type=='home'?'active':''))
          a(href='index.html') Home
        li(class=(type=='classes'?'active':''))
          a(href=first_class+'.html') Classes
