div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      ui.nav
        li(class=(type=='home'?'active':''))
          a(href='index.html') Home
        if result.classes.length > 0
          li(class=(type=='classes'?'active':''))
            a(href=result.classes[0].ctx.name+'.html') Classes
        if result.restapis.length > 0
          li(class=(type=='restapis'?'active':''))
            a(href='restapis.html') REST APIs
