extends layout

block vars
  - var body_span = 9
  - var sidebar_span = 12 - body_span
  - var use_affix = false

block style
  link(href='#{self.rel_path}tocify/jquery.tocify.css', rel='stylesheet', type='text/css')

block nav
  div#toc

block body
  div
    != self.convertLink(self.rel_path, self.content)

block script
  script(src='http://code.jquery.com/ui/1.9.0/jquery-ui.min.js')
  script(src='#{self.rel_path}tocify/jquery.tocify.js')
  script.
    $(function() {
      $('#toc').tocify({extendPage:false, scrollTo:60});
    });
