extends layout

block style
  link(href='#{rel_path}tocify/jquery.tocify.css', rel='stylesheet', type='text/css')

block content
  div.container-fluid.content.extra
    div.row
      div.col-sm-3.hidden-xs
        div#toc
      div.col-sm-9
        != convertLink(rel_path, content)

block script
  script(src='http://code.jquery.com/ui/1.9.0/jquery-ui.min.js')
  script(src='#{rel_path}tocify/jquery.tocify.js')
  script.
    $(function() {
      $('#toc').tocify();
    });
