extends layout

block content
  div.container-fluid.content
    div.row
      div.col-sm-3.hidden-xs.sidebar(data-spy='affix')
        include file-nav
      div.col-sm-9.col-sm-offset-3
        include file-body
