div.cormo-sidenav
  - var current_namespace = null
  each ns_item in result.files
    if current_namespace!==ns_item.namespace
      - current_namespace = ns_item.namespace
      div.panel.panel-default
        if current_namespace!==''
          div.panel-heading= current_namespace.replace(/\.$/, '')
        ul.nav.nav-pills.nav-stacked
          each item in result.files
            if current_namespace===item.namespace
              - var display_name = item.name.substr(current_namespace.length)
              if item.name===name
                li.active
                  a(href=rel_path+item.filename+'.html')= display_name
              else
                li
                  a(href=rel_path+item.filename+'.html')= display_name
