- var current_namespace = ''
ul.nav.nav-list.cormo-sidenav
  each item in result.files
    if current_namespace!==item.namespace
      - current_namespace = item.namespace
      li.nav-header= current_namespace.replace(/\/$/, '')
    - var display_name = item.name.substr(current_namespace.length)
    if item.name===name
      li.active
        a(href=rel_path+item.filename+'.html')= display_name
    else
      li
        a(href=rel_path+item.filename+'.html')= display_name
