h4 Returns
  if method.doesReturnPromise || method.doesReturnNodejscallback
    small
      span  as
      if method.doesReturnPromise
        span.label.label-info Promise
      if method.doesReturnNodejscallback
        span.label.label-info NodeJS callback
if method.return
  table.table.table-bordered.table-condensed.table-hover
    tr
      th Name
      th Type
      th Description
    tr
      td (Returns)
      td
        span
          each type, i in method.return.types
            != self.makeTypeLink(self.rel_path, type)
            if i+1 < method.return.types.length
              | , 
      td
        span
          != self.convertLink(self.rel_path, method.return.description)
    if method.returnprops
      each prop1 in method.returnprops
        tr
          - var param = prop1;
          - var depth = 1
          include method-one-param
        if prop1.returnprops
          each prop2 in prop1.returnprops
            tr
              - var param = prop2;
              - var depth = 2
              include method-one-param
            if prop2.returnprops
              each prop3 in prop2.returnprops
                tr
                  - var param = prop3;
                  - var depth = 3
                  include method-one-param
                if prop3.returnprops
                  each prop4 in prop3.returnprops
                    tr
                      - var param = prop4;
                      - var depth = 4
                      include method-one-param
else
  table.table.table-bordered.table-condensed.table-hover
    tr
      td (Nothing)
