extends layout

block vars
  - var body_span = 9
  - var sidebar_span = 12 - body_span
  - var use_affix = true
  - var items = self.result.ns_modules
  - var has_namespace = true

block nav-item
  - var display_name = item.ctx.name.substr(item.namespace.length)
  li
    a(href=self.rel_path+item.filename+'.html')= display_name

block body
  each ns_items in items
    if ns_items[0].namespace!==''
      - var display_name = ns_items[0].namespace.replace(/\.$/, '')
      h2= display_name
    table.table.table-bordered.table-hover
      each item in ns_items
        - var display_name = item.ctx.name.substr(item.namespace.length)
        tr
          td
            a(href=self.rel_path+item.filename+'.html')= display_name
          td!= self.convertLink(self.rel_path, item.description.summary)
