div.cormo-sidenav
  - var current_namespace = null
  each ns_item in result.restapis
    if current_namespace!==ns_item.namespace
      - current_namespace = ns_item.namespace
      div.panel.panel-default
        if current_namespace!==''
          div.panel-heading= current_namespace.replace(/\.$/, '')
        ul.nav.nav-pills.nav-stacked
          each item in result.restapis
            if current_namespace===item.namespace
              li(class=item.isPrivate ? 'private' : '')
                a(href='#'+item.html_id)= item.ctx.name
