extends layout

block content
  div.container-fluid.content
    div.row
      div.col-sm-4.hidden-xs.sidebar(data-spy='affix')
        include restapis-nav
      div.col-sm-8.col-sm-offset-4
        include restapis-body
