extends layout

block content
  div.container-fluid.content
    div.row-fluid
      div.span4.visible-desktop
        div.span4.sidebar(data-spy='affix')
          include restapis-nav
      div.span8
        include restapis-body
